.each-blog{
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
    padding: 30px 30px;
}

.each-blog-title{
    margin-top: 20px;
}

.each-blog-title h2{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    font-size: 45px;
}

.each-blog-published-date{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 13px;
}

.each-blog-img img{
    width: 100%;
}

.each-blog-content{
    margin: 40px 0px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.2px;
    word-spacing: 3px;
}

.each-blog-author ul{
    list-style: none;
    padding: 0;
}

.each-blog-author{
    display: block;
    float: right;
    font-size: 14px;
}

.each-blog-author a{
    font-size: 17px;
    font-family: 'Cormorant Garamond', serif;
    color: rgb(78, 76, 76);
}

.each-blog-author a:hover{
    color: #1309a5;
}