.customer-bookmarks-title h3, .customer-bookmarks-title p{
    font-family: 'Roboto', sans-serif;
}

.customer-bookmarks-title{    
    border-bottom: 2px solid gray;
    margin-bottom: 30px;
}

.customer-bookmarks-title h3{
    font-weight: 700;
    letter-spacing: 0.3px;
    border-left: 3px solid rgb(84,174,63);
    padding-left: 9px;
}

.customer-bookmarks-title p{
    font-size: 14px;
    font-weight: 700;
    color: rgb(65, 63, 63);
    letter-spacing: 0.1px;
    margin: 10px 0px 10px 12px;
}

.customer-bookmarks{
    background-color: white;
    box-shadow: 0 0 10px 3px rgb(108 98 98 / 20%);
    padding: 20px 25px 25px 25px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: 3px solid transparent;
}

.customer-bookmarks:hover{
    border-left: 3px solid rgb(84,174,63);
}

.customer-bookmarks p{
    font-size: 14px;
    font-weight: 700;
    color: rgb(65, 63, 63);
}

.bookmarked-homestay{
    display: flex;
    background-color: rgb(239,239,239);
    background-color: white;
}

.bookmarked-homestay div{
    flex: 50%;
}

.bookmarked-homestay img{
    width: 100%;
}

.bookmarked-homestay-details{
    margin: 20px 20px;
}

.bookmarked-homestay-details a:hover{
    color: rgb(84,174,63);
}

.bookmarked-homestay-details h6{
    font-weight: 900;
    letter-spacing: 0.3px;
    font-size: 18px;
}

.bookmarked-homestay-details span{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.bookmarked-homestay-details i{
    margin-right: 5px;
    font-family: 'Roboto', sans-serif;
}

.bookmarked-homestay-details p{
    color: rgb(112, 109, 109);
}

.customer-rm-bookmark-btns{
    margin: 0px 0px;
}

.customer-rm-bookmark-btn1{
    padding: 9px 95px;
    background-color: rgb(84,174,63);
    border: 2px solid rgb(84,174,63);
    margin: 20px 0px;
    color: white;
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 500;
    border-radius: 3px;
}

.customer-rm-bookmark-btn1:hover{
    border: 2px solid rgb(84,174,63);
    color: rgb(84,174,63);
    background-color: white;
}

.customer-rm-bookmark-btn2{
    padding: 9px 130px;
    background-color:rgb(239,239,239);
    margin: 20px 0px;
    border: 2px solid rgba(0, 110, 255, 0.61);
    border-radius: 3px;
    color: rgba(0, 110, 255, 0.897);
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 500;
    border-radius: 3px;
}

.customer-booking-btn2:hover{
    border: 2px solid rgba(0, 110, 255, 0.897);
    color: white;
    background-color: rgba(0, 110, 255, 0.897);
}