.homestay-img{
    margin: 50px 60px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.5);
}

.homestay-intro{
    padding: 40px 40px;
}

.homestay-intro i{
    margin-right: 5px;
}

.homestay-intro h3, .homestay-intro a, .homestay-nearby-places h6, .homestay-nearby-places p{
    font-family: 'Roboto', sans-serif;
}

.homestay-intro h3{
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
    margin-bottom: 10px;
}

.homestay-intro h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.homestay-intro ul{
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    padding-left: 0px;
    margin-left: 20px;
}

.homestay-services{
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
}

.homestay-services ul{
    margin-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    color: rgb(65, 65, 65);
}

.homestay-nearby-places{
    margin: 40px 0px;
    padding-bottom: 40px;
    border-bottom: 1px solid gray;
}

.homestay-nearby-places h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
    margin: 20px 0px;
}

.rate-homestay{
    margin: 40px 0px;
}

.rate-homestay h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
    margin: 20px 0px;
}

.rate-homestay button{
    margin: 20px 10px;
    padding: 10px 60px;
    background-color: rgb(84,174,63);
    border: 1px solid rgb(84,174,63);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.nearby-places h6{
    margin: 30px 0px 5px 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(65, 65, 65);
}

.nearby-places i{
    margin-right: 5px;
}

.nearby-places p{
    font-family: 'Roboto', sans-serif;
    margin: 5px 0px 10px 20px;

}

.homestay-review{
    margin: 50px 0px 0px 0px;
    padding: 70px 0px 50px 0px;
}

.homestay-review h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
}

.homestay-review img{
    width: 50px;
}

.post-review{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px 0px;
}

.post-review .form-floating textarea{
    border-top: transparent;
    border-right: transparent;
    border-radius: 0px;
}

.post-review .form-floating label{
    font-family: 'Open Sans', sans-serif;
}

.post-review button{
    background-color: rgb(84,174,63);
    border: 1px solid rgb(84,174,63);
    padding: 5px 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    border-radius: 3px;
    font-weight: 700;
}

.post-review button:hover{
    color: rgb(70, 182, 45);
    border: 2px solid rgb(84,174,63);
    background-color: white;
}

.customer-review{
    margin: 10px 0px 40px 0px;
}

.customer-review img{

}

.customer-review h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: rgb(65, 65, 65);
}

.customer-review p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
}


.location{
    margin: 40px 0px;
}

.location h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
    margin: 20px 0px;
}

.book-bookmark{
    display: flex;
    text-align: center;
}

.book-bookmark button{
    background-color: rgb(84,174,63);
    border: 1px solid rgb(84,174,63);
    padding: 5px 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    border-radius: 3px;
    font-weight: 700;
}

.book-bookmark form{
    margin: 0px;
}

.book-bookmark button{
    margin: 0px 5px;
}

/* homestay rooms */
.homestay-rooms{
    margin: 60px 0px 0px 0px;
}

.homestay-room-heading h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    border-left: 3px solid  rgb(84,174,63);
    padding-left: 10px;
    margin: 20px 0px;
}

.homestay-room{
    margin: 30px 0px 30px 0px;
}

.room-details{
    margin: 20px 0px;
}

.room-details h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1px;
    margin: 10px 0px;
    font-size: 20px;
}

.room-details p{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    margin: 10px 0px;
}

/* book room button */
.book-room-btn button{
    background-color: rgb(84,174,63);
    border: 1px solid rgb(84,174,63);
    padding-top: 5px;
    width: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.8px;
    border-radius: 3px;
    font-weight: 700;
    margin: 10px 0px;
}

.room-img img{
    /* height: 320px; */
    max-width: 100%;
    width: auto;
    max-height: 450px;
}

.room-img img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.room-details{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.room-details span{
    font-size: 17px;
    font-weight: 700;
}

.room-details p{
    font-weight: 500;
}

.center {
    display: flex;
    justify-content: center;
}

.date-book label{
    font-family: 'Roboto', sans-serif;
}

.date-book{
    padding-top: 100px;
    border: 1px solid rgba(128, 128, 128, 0.349);
    border-radius: 6px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}