.swal2-title{
    font-size: 25px;
}
.swal2-content{
    font-size: 14px;
}
.sh-auth-input{
    border-radius: 0 !important;
    box-shadow: none !important;
}

img.cover-image{
    object-fit: cover;
    object-position: center;
}
